/*first 伪元素方法自定义单选复选框样式 开始*/
p.first input{
	opacity:0;
}
p.first input ~ label{
	display: inline-block;
	width: 16px;
	height: 16px;
	line-height: 20px;
	padding-left: 30px;
	position: relative;
	cursor:pointer;
}
/*radio单选样式*/
p.first input[type="radio"] ~ label::before{
	content: " ";
	position:absolute;
	width: 16px;
	height: 16px;
	background: #fff;
	border:1px solid #ccc;
	border-radius: 50%;
	top: 2px;
  	left: 8px;
}
p.first input[type="radio"]:checked + label::before{
	content: " ";
	position:absolute;
	border:1px solid #D73E33;	
	border-radius: 50%;
	top: 2px;
  	left: 8px;
}

p.first input[type="radio"]:checked + label span{
	display: inline-block;
	width: 6px;
	height: 6px;
	background: #D73E33;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left:-9px;
}
/*checkbox样式*/
p.first input[type="checkbox"] ~ label::before{
	content: " ";
	width: 16px;
	height: 16px;
	position:absolute;
	background: #fff;
	border:1px solid #ccc;
	border-radius: 2%;
	top: 2px;
  	left: 8px;
}
p.first input[type="checkbox"]:checked + label::before{
	content: " ";
	position:absolute;
	background: #fff;
	border:1px solid #D73E33;
	border-radius: 2%;
	top: 2px;
  	left: 8px;
}
p.first input[type="checkbox"]:checked + label span{
	content: '';
  position: absolute;
  border-color: #D73E33;
  border-style: solid;
  border-width: 0px 2px 2px 0px;
  height: 8px;
  top:25%;
  left: 50%; 
  margin-left: -9px;
  transform: rotate(45deg);
  width: 4px;
}
/*first 伪元素方法自定义单选复选框样式结束*/

/*second 背景图方法自定义单选复选框样式开始*/
p.second input{
	display: none;
}
p.second input ~ label{
	display: inline-block;
	height: 16px;
	line-height: 16px;
	margin-left: 25px;
	padding-left: 15px;
	font-size: 16px;
	background: url(images/bg.png) no-repeat left top;
}
p.second input[type="radio"] ~ label{
	background-position: 0 0;
}
p.second input[type="checkbox"] ~ label{
	background-position: 0 -22px;
}
p.second input[type="radio"]:checked + label{
	background-position: -35px 0px;
}

p.second input[type="checkbox"]:checked + label{
	background-position: -35px -22px;
}
