body{
	padding:0px;
	margin:15px;
}
input{
	display: none;
		}
 label{
	cursor: pointer;
	margin:5px 3px 0px 3px;
}
 label i{
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url(images/bg.png) no-repeat left top;
}
label.select i.on{
 	background-position: -35px 0px;
 }
 label i.checkbox{
	background-position: 0px -21px;
}
 label i.on{
 	background-position: -35px -20px;
 }